{% extends "watering/base.html" %}
{% block code %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages: ["timeline"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();

            dataTable.addColumn({type: 'string', id: 'Branch'});
            dataTable.addColumn({type: 'date', id: 'Start'});
            dataTable.addColumn({type: 'date', id: 'End'});
            dataTable.addRows([
                {% for branch in result %}
                    {% if branch.t_end_plan %}
                        ['{{ branch.descr }}', new Date(0, 0, 0, {{ branch.t_start_plan|date:"H,i,0"  }}), new Date(0, 0, 0, {{ branch.t_end_plan|date:"H,i,0"  }})],
                    {% endif %}
                    {% comment %}['Washington', new Date(1789, 3, 29), new Date(1797, 2, 3)],
                    ['Adams', new Date(1797, 2, 3), new Date(1801, 2, 3)],
                    ['Jefferson', new Date(1801, 2, 3), new Date(1809, 2, 3)]]);{% endcomment %}
                {% endfor %}
            ]);
            chart.draw(dataTable);
        }
    </script>
    {% comment %} {id: {{ session.id }}, group: {{ session.user.id }},
content: '<div class="mystyle"
               title="c {{ session.sbegin|date:"H:i:s" }} по {{ session.send|date:"H:i:s" }}">{{ session.sduration }} мин.</div>',
start: '{{ session.sbegin|date:"Y-m-d H:i:s" }}',
end: '{{ session.send|date:"Y-m-d H:i:s" }}',
type: 'range', cdata: '{{ session.comment }}',
from: '{{ session.sbegin|date:"H:i:s" }}',
to: '{{ session.send|date:"H:i:s" }}'}
  {% endcomment %}
    <script type="text/javascript">
        $(document).ready(function () {

            $("input[type='button'][id*='cmd']").click(function () {
                var id = $(this).attr("id").substring($(this).attr("id").lastIndexOf("_") + 1);
                var c = $(this).attr("name");
                {% comment %} $.ajax({
                     url: "branch/" + id + "/" + c,
                     type: "GET"
                 });{% endcomment %}
                window.location.href = "branch/" + id + "/" + c;
                return true;
            });
            {# Disable/Enable buttons due to current Branch status #}
            $("input[type='button'][id*='cmd']").each(function (index) {
                var id = $(this).attr("id").substring($(this).attr("id").lastIndexOf("_") + 1);
                var selector = '#stat_' + id
                var stat = $(selector).val()
                var start = $('#cmd_start_' + id)
                var stop = $('#cmd_stop_' + id)

                if ((stat == 'run') || (stat == 'plan')) {
                    start.prop('disabled', true);
                    stop.prop('disabled', false);
                } else if ((stat == 'stop') || (stat == 'not init')) {
                    start.prop('disabled', false);
                    stop.prop('disabled', true);
                }
            });
        });
    </script>
{% endblock %}
{% block header %} {{ title }} {% endblock %}
{% block main %}
    <form method="POST" action=".">
        {% csrf_token %}
        <table>
            <thead>
            <tr align="left">
                <th>№</th>
                <th>Полив</th>
                <th>Состояние</th>
                <th>Запуск</th>
                <th>Завершение</th>
                <th>Управление</th>
            </tr>
            </thead>
            <tbody>
            {% for branch in result %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ MEDIA_URL }}branch/{{ branch.id }}">{{ branch.descr }}</a></td>
                    <td>{{ branch.status }}</td>
                    <td>
                        <div class="input-group clockpicker" data-autoclose="true" data-placement="left"
                             data-align="top">
                            <input id="id_t_start_plan_{{ branch.id }}" name="t_start_plan_{{ branch.id }}"
                                   value="{{ branch.t_start_plan |date:"H:i" }}"
                                   size="7">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group clockpicker" data-autoclose="true" data-placement="left"
                             data-align="top">
                            <input id="id_t_end_plan_{{ branch.id }}" name="t_end_plan_{{ branch.id }}"
                                   value="{{ branch.t_end_plan |date:"H:i" }}"
                                   size="7">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                        </div>
                    </td>
                    <td class="tableHead">
                        <input type="hidden" value="{{ branch.status.name }}" id="stat_{{ branch.id }}"/>
                        <input type="text" value="{{ branch.duration | default:'0' }}" name="length_{{ branch.id }}"
                               id="len_{{ branch.id }}" size="2"/>
                        <input type="button" name="start" id="cmd_start_{{ branch.id }}" value="Start"/>
                        {#                    <div class="btn_blue" name="start" id="cmd_start_{{ branch.id }}">Start</div>#}
                        <input type="button" name="stop" id="cmd_stop_{{ branch.id }}" value="Stop"/>
                        {#                    <div class="btn_red" name="stop" id="cmd_stop_{{ branch.id }}">Stop</div>#}
                        <input type="button" name="on" id="cmd_on_{{ branch.id }}" value="On"/>
                        <input type="button" name="off" id="cmd_off_{{ branch.id }}" value="Off"/>
                    </td>
                </tr>
                <tr><td></td><td>MnTuWedThFrStSu</td><td colspan="4">&nbsp;</td></tr>
            {% endfor %}
            <tr>
                <td colspan="6" align="right">
                    <input type="submit" value="Save">
                </td>
            </tr>
            </tbody>
        </table>

    </form>
    <div id="timeline" style="width: 620px; height: 380px;"></div>
{% endblock %}
{% block sidebar %}
    <h2>Инфо</h2>
    <p></p>
    {% if temp_result %}
        <table>
            <thead>
            <tr>
                <th>Датчик</th>
                <th>°C</th>
            </tr>
            </thead>
            <tbody>

            {% for temp in temp_result %}
                <tr>
                    <td><a href="{{ MEDIA_URL }}temp/{{ temp.id }}">{{ temp.descr }}</a></td>
                    <td>{{ temp.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No data from temperature sensors</h3>
    {% endif %}
{% endblock %}
{% block footer %}
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
    </script>
{% endblock %}