{% extends "watering/base_watering.html" %}
{% block code %}

{% endblock %}
{% block header %}
    This is my app. It uses Django templates
{% endblock %}
{% block main %}
    <form class="cmxform" action="save" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{{ branch.descr }}</legend>
            <ol>
                <li>
                    <label for="id_status">Status</label>
                    <input id="id_status" type="text" value="{{ branch.status }}" readonly="true"/>
                </li>
                <li>
                    <label for="id_descr">Description</label>
                    <input id="id_descr" name="descr" value="{{ branch.descr }}" type="text"/>
                </li>
                <li>
                    <label for="id_last_accessed">Last accessed</label>
                    <input id="id_last_accessed" value="{{ branch.last_accessed }}"/>
                </li>
                <li>
                    <label for="id_t_start">Planned s_time</label>

                    <div class="input-group clockpicker" data-autoclose="true" data-placement="left" data-align="top">
                        <input id="id_t_start_plan" name="t_start_plan" value="{{ branch.t_start_plan }}"
                               class="form-control">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-time"></span>
                                            </span>
                    </div>
                    {#                    <input id="id_t_start2" value="00:00:01" type="text"/>#}
                </li>
                <li>
                    <label for="id_duration">Duration,min</label>
                    <input id="id_duration" name='duration' value="{{ branch.duration }}" type="text"/>
                </li>
            </ol>
        </fieldset>
        <input type="submit" value="Submit"/>
    </form>
    <script type="text/javascript">
        $('.clockpicker').clockpicker();
        $('.clockpicker').clockpicker()
                .find('input').change(function () {
{#                    $('#id_t_start2').val(this.value)#}
{#                    $('#id_t_start2').value(this.value)#}
                });
    </script>
{% endblock %}
